version: "3"
services:
  db-master:
    container_name: mysql-master
    build:
      context: mysql/master
      dockerfile: ./Dockerfile
    restart: always
    env_file:
      - mysql/master/master.env
    ports:
      - "13306:3306"
    volumes:
      - master_vol:/var/lib/mysql
      - ./mysql/master/scripts:/docker-entrypoint-initdb.d
    networks:
      net-mysql:
        ipv4_address: 172.28.0.2

  db-slave:
    container_name: mysql-slave
    build:
      context: mysql/slave
      dockerfile: ./Dockerfile
    restart: always
    env_file:
      - mysql/slave/slave.env
    ports:
      - "13307:3306"
    volumes:
      - slave_vol:/var/lib/mysql
      - ./mysql/slave/scripts:/docker-entrypoint-initdb.d
    networks:
      net-mysql:
        ipv4_address: 172.28.0.3
    depends_on:
      - db-master
  nginx:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - db-slave
  springboot:
    build:
      context: ..
      dockerfile: ./docker-compose/Dockerfile
    expose:
      - 8080
    depends_on:
      - nginx
volumes:
  master_vol:
  slave_vol:

networks:
  net-mysql:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16